
    body 
    {
        margin: 0;
        padding: 50px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        font-family: Poppins;
        min-height: 100vh;
        overflow: hidden;
    }

    .main-container 
    {
        position: relative;
        width: 40%;
    }

    .btn 
    {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.575);
        width: 215px;
        height: 75px;
        color: white;
        overflow: hidden;
        font-size: 3.5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-info 
    {
        position: fixed;
        top: 25rem;
        letter-spacing: -6.5px;
        left: 45rem;
    }

    .btn-success 
    {
        position: fixed;
        top: 25rem;
        left: 65rem;
    }

    #containerResultado 
    {
        position: relative;
        left: 750px;
        top: -525px;
    }

    .card 
    {
        text-align: center;
        height: 150px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        background-color: rgba(73, 38, 105, 0.63);
    }

    .card::after 
    {
        width: 50%;
        height: 150%;
        top: 0px;
        left: 25%;
        border-radius: 40%;
        z-index: -1;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(90deg);
        position: absolute;
        background-color: rgba(0, 0, 0, 0.726);
        content: "";
    }

    .card h5 
    {
        color: white;
    }

    .card span 
    {
        color: yellow;
    }

    .form 
    {
        position: relative;
        margin: auto;
        text-align: center;
        height: 50px;
        width: auto;
        min-width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    #resultado 
    {
        color: red;
        letter-spacing: -1.5px;
    }
